.user-avatar {
  padding-right: 5%;
  margin: auto;
}

.user-follow {
  display: flex;
  justify-content: space-between;
  width: 238px;
}

.user-preview {
  display: flex;
  margin: 0 auto;
  max-width: 350px;
  padding: 2%;
  border-bottom: 1px solid grey;
}

.user-preview:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.user-preview-details {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  text-align: left;
}

.user-names {
  display: flex;
  flex-direction: column;
}
