.profile-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 318px;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #282c34;
}

.profile-id {
  display: flex;
  align-items: center;
}

.profile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  width: 20%;
  position: fixed;
  margin: auto 10% auto 86%;
  padding: 2%;
}

@media (max-width: 1300px) {
  .profile-logout {
    flex-direction: column;
    padding: 8px;
    width: 20vw;
    justify-content: space-evenly;
  }
  .profile-sidebar {
    margin: auto auto auto 80%;
  }
}

@media (max-width: 750px) {
  .profile-sidebar {
    display: none;
  }
}
