.profile-id {
  display: flex;
  align-items: center;
}

.profile-logout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  width: 318px;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #282c34;
}

.profile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  width: 20%;
  position: fixed;
  right: 1%;
  top: 2%;
  padding: 2%;
}

.version-text {
  margin-top: auto;
}

@media (max-width: 1460px) {
  .profile-sidebar {
    margin: auto auto auto 82%;
  }
}

@media (max-width: 1165px) {
  .profile-logout {
    display: none;
  }

  .profile-prompt {
    display: none;
  }
}

@media (max-width: 900px) {
  .version-text {
    display: none;
  }
}

@media (max-width: 750px) {
  .profile-sidebar {
    display: none;
  }
}
