.followers-list {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.profile-followers {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  background-color: white;
  color: black;
  margin: auto;
  min-height: 100vh;
  height: max-content;
  width: 750px;
}

@media (max-width: 1460px) {
  .profile-followers {
    margin-left: 3%;
  }
}

@media (max-width: 800px) {
  .profile-followers {
    width: 50%;
    flex-grow: 1;
  }
}
