@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");

.quackle-head {
  display: flex;
  justify-content: center;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
}

.quackle-title {
  margin-top: 0;
  font-size: 28px;
}
