.login-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.login-details {
  display: flex;
  flex: 0 0 auto;
  margin-top: 25%;
  flex-direction: column;
  height: 360px;
  width: 550px;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 25px;
  opacity: 0.95;
  z-index: 1;
}

.login-footer {
  display: flex;
  flex-direction: column;
  padding: 5%;
  z-index: 1;
}

.login-signup {
  display: flex;
  margin: auto;
  flex-direction: column;
  color: white;
}

@media (max-width: 600px) {
  .login-container {
    margin-top: 10%;
    width: 100%;
  }

  .login-details {
    width: 100%;
    height: auto;
  }
}
