.quacking-current {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
}

.trending-container {
  display: flex;
  flex-shrink: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  justify-content: space-evenly;
}

.trending-info {
  display: flex;
  flex-direction: column;
  margin: auto 25%;
}

.trending-list {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  background-color: white;
  color: black;
  margin: auto;
  min-height: 100vh;
  height: max-content;
  width: 750px;
}

.trending-numbers {
  margin: auto;
  font-size: 11px;
}

.trending-pond {
  width: 65px;
  height: 65px;
}

.trending-stats {
  display: flex;
  align-items: center;
}

@media (max-width: 1500px) {
  .trending-info {
    margin: auto 20%;
  }
}

@media (max-width: 1300px) {
  .trending-info {
    margin: auto 15%;
  }

  .trending-list {
    margin-left: 3%;
  }
}

@media (max-width: 810px) {
  .trending-list {
    width: 50%;
    flex-grow: 1;
  }
}

@media (max-width: 750px) {
  .trending-info {
    margin: auto;
  }

  .trending-numbers {
    display: none;
  }

  .trending-stats {
    flex-direction: column;
    justify-content: center;
    padding: 3px 0;
    margin: auto;
  }
}
