.quacking-current {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1% 2%;
}

.trending-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  justify-content: space-evenly;
}

.trending-list {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  flex: 0.5 1 auto;
  margin: auto;
  padding-top: 2%;
  min-height: 100vh;
  height: max-content;
  max-width: 45%;
}

.trending-pond {
  width: 65px;
  height: 65px;
}

.trending-stats {
  display: flex;
  align-items: center;
}

@media (max-width: 1300px) {
  .trending-list {
    margin: auto;
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .trending-list {
    max-width: 100%;
    width: 100%;
  }

  .trending-stats {
    flex-direction: column;
    justify-content: center;
    padding: 3px 0;
  }
}
