.quacking-current {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
}

.trending-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  justify-content: space-evenly;
}

.trending-list {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  flex: 0.5 1 auto;
  margin: auto;
  min-height: 100vh;
  height: max-content;
  max-width: 45%;
}

.trending-numbers {
  margin: auto;
  font-size: 11px;
}

.trending-pond {
  width: 65px;
  height: 65px;
}

.trending-stats {
  display: flex;
  align-items: center;
  margin: auto 25%;
}

@media (max-width: 1350px) {
  .trending-list {
    margin: auto;
    max-width: 45%;
  }
  .trending-numbers {
    display: none;
  }
  .trending-stats {
    margin: auto 10%;
  }
}
@media (max-width: 750px) {
  .trending-list {
    max-width: 100%;
    width: 100%;
  }

  .trending-stats {
    flex-direction: column;
    justify-content: center;
    padding: 3px 0;
    margin: auto;
  }
}
