.atusers-output {
  display: flex;
}

.pond-image {
  width: 30px;
  height: 30px;
}

.quack-output:nth-child(2n -1) {
  background-color: #f1f1f1;
}

.quack-output {
  display: flex;
  padding: 1%;
  border-bottom: 1px solid grey;
}

.quack-output-avatar {
  margin: auto;
  padding: 1%;
}

.quack-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 2%;
  word-break: break-word;
}

.quack-output:hover {
  background-color: #dadada;
}

.quack-message {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 6% 0;
  white-space: pre-wrap;
}

.quack-user {
  display: flex;
  align-items: center;
}

.quack-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
