.following-list {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.profile-following {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  flex: 0.5 1 auto;
  margin: 0 20%;
  min-height: 100vh;
  height: max-content;
  max-width: 38%;
}

@media (max-width: 1300px) {
  .profile-following {
    max-width: 70%;
    width: 60%;
    margin-left: auto;
  }
}
@media (max-width: 750px) {
  .profile-following {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }
}
