.following-list {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.profile-following {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  flex: 0.5 1 auto;
  margin: 0 20%;
  min-height: 100vh;
  height: max-content;
  max-width: 38%;
}
