.profile-details {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  background-color: white;
  color: black;
  margin: auto;
  min-height: 100vh;
  height: max-content;
  width: 750px;
}

.profile-edit {
  padding: 1% 4%;
}

.profile-friend-quacks {
  margin-top: 4%;
}

.profile-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-tweets {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

@media (max-width: 1460px) {
  .profile-details {
    margin-left: 3%;
  }
}

@media (max-width: 810px) {
  .profile-details {
    width: 50%;
    flex-grow: 1;
  }
}
