.profile-edit {
  padding: 1% 4%;
}

.profile-friend-quacks {
  margin-top: 4%;
}

.profile-details {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  flex: 0.5 1 auto;
  margin: auto;
  min-height: 100vh;
  height: max-content;
  max-width: 38%;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-tweets {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

@media (max-width: 1300px) {
  .profile-details {
    max-width: 70%;
    width: 60%;
    margin-left: auto;
  }
}
@media (max-width: 750px) {
  .profile-details {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }
}
