.signup-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.signup-section {
  display: flex;
  margin-top: 20%;
  flex-direction: column;
  background-color: white;
  opacity: 0.95;
  color: black;
  border-radius: 5px;
  padding: 20px 20px 35px 20px;
}

.signup-login {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

@media (max-width: 750px) {
  .signup-section {
    margin: 10% auto;
  }
}
