.signup-background {
  background: url("../../img/quack2.webp");
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.signup-container {
  display: flex;
  flex-direction: column;
}

.signup-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: 0.95;
  color: black;
  border-radius: 5px;
  padding: 20px 20px 35px 20px;
}

.signup-login {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

@media (max-width: 750px) {
  .signup-section {
    margin: 10% auto;
  }
}
