.signup-container {
  display: flex;
  width: 80vw;
  height: 80vh;
  border: 1px solid white;
}

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.signup-section {
  display: flex;
  margin: auto;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 750px) {
  .signup-container {
    height: 95vh;
  }
}
