.search-container {
  display: flex;
  flex-direction: column;
  width: 318px;
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 5px;
}

.search-container-compact {
  display: none;
}

.profile-search {
  display: flex;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 1460px) {
  .menu-search {
    display: flex;
    width: 84vw;
  }

  .search-container-compact {
    display: block;
    position: absolute;
    top: 110px;
  }
}

@media (max-width: 1165px) {
  .search-container {
    display: none;
  }
}
