.hamburger {
  display: none;
}
.profile-user {
  display: flex;
}

.profile-user-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15%;
  position: fixed;
  margin: auto 67% auto 8%;
  padding: 2%;
  text-align: left;
}

.profile-user-list > * + * {
  margin-top: 12%;
}

.hamburger-menu {
  display: none;
}

.user-logout {
  display: none;
}

.user-quack {
  display: none;
}

@media (max-width: 1300px) {
  .hamburger {
    display: block;
    background: url("../../img/hamburger.svg");
    width: 80px;
    height: 80px;
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 5;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu:hover {
    color: black;
  }

  .profile-user-list {
    display: none;
  }

  .user-quack {
    display: block;
    position: absolute;
    top: 140px;
    left: 25px;
  }
}

@media (max-width: 750px) {
  .hamburger {
    width: 50px;
    height: 50px;
    top: 0;
    left: 4px;
  }

  .profile-user {
    flex-direction: row;
    background-color: #282c34;
    position: static;
    margin: auto;
    width: 75px;
  }

  .profile-user-list {
    display: none;
  }

  .user-logout {
    display: block;
    position: absolute;
    top: 550px;
    left: 4px;
  }

  .user-quack {
    top: 100px;
    left: 4px;
  }
}
