.copyright-mobile {
  display: none;
}

.hamburger {
  display: none;
}

.profile-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.profile-user {
  display: flex;
}

.profile-user-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15%;
  position: fixed;
  margin: auto 67% auto 5%;
  padding: 2% 0 2% 2%;
  text-align: left;
}

.profile-user-list > * + * {
  margin-top: 12%;
}

.prompt-headings {
  margin-bottom: 0;
}

.hamburger-menu {
  display: none;
}

.user-logout {
  display: none;
}

.user-quack {
  display: none;
}

@media (max-width: 1460px) {
  .copyright-mobile {
    display: block;
    position: absolute;
    top: 600px;
    left: 13px;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .hamburger {
    display: block;
    background: url("../../img/hamburger.svg");
    width: 38px;
    height: 38px;
    position: absolute;
    top: 25px;
    left: 1px;
    z-index: 5;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu:hover {
    color: black;
  }

  .profile-user {
    width: 30px;
  }

  .profile-user-list {
    display: none;
  }

  .user-logout {
    display: block;
    position: absolute;
    top: 500px;
    left: 2px;
  }

  .user-quack {
    display: block;
    position: absolute;
    top: 200px;
    left: 2px;
  }
}
