.settings-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  justify-content: space-evenly;
}

.settings-details {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  background-color: white;
  color: black;
  margin: auto;
  min-height: 100vh;
  height: max-content;
  width: 750px;
}

.settings-blocked {
  display: flex;
  margin-top: 5%;
  padding: 2%;
}

.settings-data {
  padding: 2%;
}

.settings-stats {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2%;
}

@media (max-width: 1460px) {
  .settings-details {
    margin-left: 3%;
  }
}

@media (max-width: 800px) {
  .settings-details {
    width: 50%;
    flex-grow: 1;
  }
}
